node_modules/
.vercel/
*.zip
*.json
!package.json
*.ps1
$fluffyFolder/
PortalLineabase/
VulnAnalyzer/
extracted_docs/
fleet_monitor_v3/
linguaflow/
mod_tools/
re_chunk_000.pak.sub_000/
source_files.txt
ssor_agent_technical_spec.md

.vercel
.env*
